---
http_interactions:
- request:
    method: post
    uri: https://aifaceswap.io/api/aifaceswap/v1/faceswap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <FACE_SWAP_API_KEY>
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"data":{"points":2,"task_id":"2c8d3b96f2cc58042dc2678f17d76bce"},"message":"OK"}

        '
  recorded_at: Wed, 19 Mar 2025 15:59:52 GMT
recorded_with: VCR 6.3.1
