---
http_interactions:
- request:
    method: post
    uri: https://aifaceswap.io/api/aifaceswap/v1/faceswap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <FACE_SWAP_API_KEY>
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"data":{"points":2,"task_id":"c6493e510a7c430f241e62d0b9161f51"},"message":"OK"}

        '
  recorded_at: Sat, 22 Mar 2025 17:09:10 GMT
recorded_with: VCR 6.3.1
