---
http_interactions:
- request:
    method: post
    uri: https://aifaceswap.io/api/aifaceswap/v1/faceswap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <FACE_SWAP_API_KEY>
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"data":{"points":2,"task_id":"c0dfe2d265372d93e0f553a23defa215"},"message":"OK"}

        '
  recorded_at: Fri, 21 Mar 2025 21:41:25 GMT
recorded_with: VCR 6.3.1
