<div data-controller="canva"
     <%# data-canva-canva-item-outlet=".canva-item" %>
     data-action="bitcoin:changed@window->canva#clear <%= defined?(actions) ? actions : '' %>"
     class="<%= defined?(class_name) ? class_name : '' %>"
     data-canva-background-image-value="<%= paper.image_front.attached? ? url_for(paper.image_front) : '' %>">
  <canvas data-canva-target="container" class="w-full h-full"></canvas>

  <% paper.front_elements.each do |name, item| %>
    <%= render 'hong_baos/new/steps/design/canva_item', name:, item: %>
  <% end %>
</div>