<button type="button"
        class="w-full py-3 px-6 border-2 border-transparent rounded-xl shadow-lg text-base font-medium
               text-[#F04747] bg-[#FFB636] hover:bg-[#FFB636]/90 transition-colors duration-300
               disabled:opacity-30
               <%= local_assigns[:html_options]&.dig(:class) %>"
        data-controller="disabled"
        data-form-target="submitButton"
        data-action="steps#next <%= local_assigns[:html_options]&.dig(:data_action) -%>"
        <%= 'disabled' if local_assigns[:html_options]&.dig(:disabled) %>>
  <%= local_assigns[:title] || "Next →" %>
</button>
