<button type="button"
        class="w-1/4 py-3 px-4 border-2 border-[#FFB636] rounded-xl shadow-lg text-sm font-medium
               text-[#FFB636] bg-transparent hover:bg-[#FFB636]/10 transition-colors duration-300"
        data-action="hong-bao#previousStep"
        data-hong-bao-target="previousButton"
        style="<%= current_step == 1 ? 'display: none;' : '' %>">
  ←
</button>