@import "tailwindcss";
@import "intl-tel-input/build/css/intlTelInput.css";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #F04747;
  --color-secondary: #FFB636;
}

/* Custom color variables and fonts */
@theme {
  --color-bitcoin: #f7931a;
  --color-hongbao: #C13838;
  --font-handwriting: "Fuzzy Bubbles", cursive;
}



/* Override intl-tel-input CSS variables at root level */
:root {
  --iti-path-flags-1x: url("/intl-tel-input/flags.webp");
  --iti-path-flags-2x: url("/intl-tel-input/flags@2x.webp");
  --iti-path-globe-1x: url("/intl-tel-input/globe.webp");
  --iti-path-globe-2x: url("/intl-tel-input/globe@2x.webp");
}