@import "tailwindcss";
@import "intl-tel-input/build/css/intlTelInput.css";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

/* Custom color variables */
@theme {
  --color-bitcoin: #f7931a;
  --color-hongbao: #991b1b;
}

/* Override intl-tel-input CSS variables at root level */
:root {
  --iti-path-flags-1x: url("/intl-tel-input/flags.webp");
  --iti-path-flags-2x: url("/intl-tel-input/flags@2x.webp");
  --iti-path-globe-1x: url("/intl-tel-input/globe.webp");
  --iti-path-globe-2x: url("/intl-tel-input/globe@2x.webp");
}