<div class="bg-[#F04747] backdrop-blur-lg rounded-3xl shadow-2xl border-4 border-[#FFB636] outline outline-8 outline-[#F04747] p-6 space-y-6 text-center">
  <h3 class="text-xl font-bold text-[#FFB636]">Transaction Submitted</h3>

  <div class="text-white space-y-4">
    <p>Your transaction has been submitted to the network.</p>
      <%= render "hong_baos/new/previous_button" %>
    <a href="https://mempool.space/tx/<%# @hong_bao.last_transaction_id %>"
       target="_blank"
       rel="noopener noreferrer"
       class="inline-flex items-center text-[#FFB636] hover:text-[#FFB636]/80 transition-colors">
      View on Mempool.space
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
      </svg>
    </a>
  </div>
</div>