<div data-popup-target="modal"
     data-controller="mt-pelerin"
     data-mt-pelerin-ctkn-value="<%= Rails.application.credentials.mt_pelerin.token %>"
     data-mt-pelerin-rfr-value="<%= Rails.application.credentials.mt_pelerin.rfr %>"
     data-mt-pelerin-network-value="<%= Rails.env.production? ? 'bitcoin_mainnet' : 'bitcoin_testnet' %>"
     data-mt-pelerin-logo-value="<%= asset_url('hongbao-bitcoin-logo-520.png') %>"
     data-mt-pelerin-success-value="#FFB636"
     data-mt-pelerin-primary-value="#F04747"
     data-action="hong-bao:walletChanged@window->mt-pelerin#walletChanged">
  <button data-action="mt-pelerin#openModal" class="btn btn-primary">
    Buy with Mt Pelerin
  </button>
</div>