<div data-popup-target="modal"
     data-controller="mt-pelerin"
     data-action="hong-bao:walletChanged@window->mt-pelerin#walletChanged"
     class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 backdrop-blur-sm hidden">
  <div class="bg-gray-900 rounded-xl p-4 w-full max-w-2xl mx-4 relative">
    <button data-action="popup#close" class="absolute top-4 right-4 text-gray-400 hover:text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <iframe data-mt-pelerin-target="iframe"
            allow="usb; ethereum; clipboard-write; payment; microphone; camera"
            loading="lazy"
            src="<%= mt_pelerin_widget_url %>"
            title="Mt Pelerin exchange widget"
            class="w-full h-[600px] rounded-lg">
    </iframe>
  </div>
</div>