<% payment_methods.each do |payment_method| %>
    <div data-controller="popup">
        <label class="cursor-pointer">
        <%= form.radio_button :payment_method_id,
            payment_method.id,
            class: "hidden peer",
            data: {
                action: "popup#open"
            } %>
            <div class="border-2 border-transparent peer-checked:border-[#FFB636] rounded-lg p-4 text-center
                        bg-white/10 hover:bg-white/20 transition-colors duration-300">
                <div class="w-full flex items-center justify-center h-4 m-auto">
                <%= render_payment_logo(payment_method.logo) %>
                </div>
            </div>
        </label>
        <%= render "payment_methods/#{payment_method.name}", form: form, payment_method: payment_method %>
    </div>
<% end %>
