<%= render "shared/header" %>

<div class="min-h-screen flex items-center justify-center bg-base-200 py-12 px-4 sm:px-6 lg:px-8">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <%= turbo_frame_tag "signup_form" do %>
        <%= render AuthenticationComponent.new(user: User.new(email: params[:email])) %>
      <% end %>
    </div>
  </div>
</div>