  <div class="text-center space-y-4 pb-6 mx-auto">
    <h2 class="text-center text-lg sm:text-xl font-semibold text-main-600 dark:text-main-400">
      <span class="inline-block align-top text-balance">About</span>
    </h2>
    <p class="mx-auto mt-2 max-w-xl text-center text-4xl font-semibold tracking-tight font-general sm:text-5xl dark:text-white">
      <span class="inline-block align-top text-balance">The team behind the code</span>
    </p>

    <p class="max-w-[750px] mx-auto text-lg text-muted-foreground sm:text-xl">
        When we are not crafting code, we are embracing our favorite role: being Bitcoin teachers. Together, we turn every gift into ₿!
    </p>
  </div>

  <div class="mt-12 flex flex-col items-center justify-center gap-8 sm:flex-row sm:gap-4">
    <div class="w-64 rotate-[-8deg] transform-gpu overflow-hidden rounded-lg border bg-background p-2 shadow-lg transition-all duration-300 hover:rotate-0 hover:scale-105 sm:w-72">
      <div class="relative aspect-[3/4] overflow-hidden rounded-md">
        <%= image_tag image_url('sbounmy-b.jpg'), class: "h-full w-full object-cover" %>
      </div>
      <div class="p-3">
        <h3 class="text-xl font-bold">Stéphane</h3>
        <p class="text-sm text-muted-foreground">Chief Bitcoin & Ruby Geek, heading up the dev team</p>
      </div>
    </div>
    <div class="w-64 rotate-[8deg] transform-gpu overflow-hidden rounded-lg border bg-background p-2 shadow-lg transition-all duration-300 hover:rotate-0 hover:scale-105 sm:w-72">
      <div class="relative aspect-[3/4] overflow-hidden rounded-md">
        <%= image_tag image_url('salma.jpg'), class: "h-full w-full object-cover" %>
      </div>
      <div class="p-3">
        <h3 class="text-xl font-bold">Salma</h3>
        <p class="text-sm text-muted-foreground">Making sure the cool stuff gets built and gets seen</p>
      </div>
    </div>
  </div>

  <%= render(ContributorsComponent.new) %>