<%= form_with(url: login_path, class: "space-y-4") do |form| %>
    <h2 class="card-title justify-center text-2xl font-bold">Log in</h2>
    <div class="form-control gap-2">
        <%= form.hidden_field :email, value: user.email,
            class: "input input-bordered w-full",
            placeholder: "Email address" %>

        <%= form.password_field :password,
            required: true,
            class: "input input-bordered w-full",
            placeholder: "Password" %>
    </div>

    <%= form.submit "Continue", class: "btn btn-primary w-full" %>
<% end %>