<% if input_item.image.attached? %>
  <button type="button"
          class="aspect-square bg-base-200 cursor-pointer hover:ring-2 hover:ring-primary transition-all overflow-hidden"
          data-action="photo-select#select"
          data-photo-url="<%= url_for(input_item.image) %>"
          data-blob-id="<%= input_item.image.blob.id %>">
    <%= image_tag input_item.image.variant(resize_to_fill: [200, 200]),
        class: "w-full h-full object-cover",
        loading: "lazy" %>
  </button>
<% end %>
