<div class="w-full h-full rounded-4xl flex flex-col justify-center items-start space-y-4 [backface-visibility:hidden] [-webkit-backface-visibility:hidden] <%= options[:class] %>"
      data-action="click->reveal#show">
      <%= content %>
</div>