<div class="carousel w-full">
  <% images.each_with_index do |image, index| %>
    <div id="slide<%= index + 1 %>" class="carousel-item relative w-full">
      <%= image_tag image, class: "w-full" %>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide<%= index - 1 %>" class="btn btn-circle">❮</a>
        <a href="#slide<%= index + 1 %>" class="btn btn-circle">❯</a>
      </div>
    </div>
  <% end %>
</div>

