<details class="collapse collapse-arrow bg-gray-900 text-white rounded-2xl" <%= "open" if open %>>
  <summary class="collapse-title">
    <%= summary %>
  </summary>
  <div class="collapse-content">
    <%= content %>
  </div>
</details>