<div class="collapse collapse-arrow bg-base-200 border border-base-300 rounded-lg"
     data-controller="collapse"
     data-collapse-id-value="<%= @id %>"
     data-collapse-open-value="<%= @open %>">

  <div class="collapse-title cursor-pointer" data-action="click->collapse#toggle">
    <%= summary %>
  </div>

  <div class="collapse-content">
    <%= content %>
  </div>
</div>