<%= tag.div(data: { controller: "content-loader", **options }) do %>
  <span class="flex justify-center items-center">
    <span class="loading loading-spinner loading-xl text-[#FFB636]"></span>
  </span>
<% end %>
