  <figure class="diff aspect-16/9 <%= @class %>" tabindex="0">
    <div class="diff-item-1" role="img" tabindex="0">
      <%= before %>
    </div>
    <div class="diff-item-2" role="img">
      <%= after %>
    </div>
    <div class="diff-resizer"></div>
  </figure>