---
http_interactions:
- request:
    method: post
    uri: https://<SHOPIFY_DOMAIN>/admin/api/2025-07/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  invalidField {\n    notExisting\n  }\n}\n","variables":{}}'
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '327'
      X-Sorting-Hat-Shopid:
      - '92399468872'
      X-Shopid:
      - '92399468872'
      X-Shardid:
      - '327'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '283790573569'
      X-Stats-Apipermissionid:
      - '820564132168'
      X-Shopify-Api-Version:
      - 2025-07
      Content-Language:
      - en
      X-Dc:
      - gcp-europe-west1,gcp-europe-west1,gcp-europe-west1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Field ''invalidField'' doesn''t exist on type
        ''QueryRoot''","locations":[{"line":2,"column":3}],"path":["query","invalidField"],"extensions":{"code":"undefinedField","typeName":"QueryRoot","fieldName":"invalidField"}}]}'
  recorded_at: Fri, 26 Sep 2025 04:10:28 GMT
recorded_with: VCR 6.3.1
