---
http_interactions:
- request:
    method: post
    uri: https://<SHOPIFY_DOMAIN>/admin/api/2025-07/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  shop {\n    name\n    email\n    currencyCode\n    primaryDomain
        {\n      url\n      host\n    }\n    billingAddress {\n      country\n      countryCodeV2\n    }\n  }\n}\n","variables":{}}'
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '327'
      X-Sorting-Hat-Shopid:
      - '92399468872'
      X-Shopid:
      - '92399468872'
      X-Shardid:
      - '327'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '283790573569'
      X-Stats-Apipermissionid:
      - '820564132168'
      X-Shopify-Api-Version:
      - 2025-07
      Content-Language:
      - en
      X-Dc:
      - gcp-europe-west1,gcp-europe-west1,gcp-europe-west1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"shop":{"name":"HongBao test","email":"stephane@hackerhouse.paris","currencyCode":"EUR","primaryDomain":{"url":"https://<SHOPIFY_DOMAIN>","host":"<SHOPIFY_DOMAIN>"},"billingAddress":{"country":"France","countryCodeV2":"FR"}}},"extensions":{"cost":{"requestedQueryCost":2,"actualQueryCost":2,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1998,"restoreRate":100.0}}}}'
  recorded_at: Fri, 26 Sep 2025 04:10:06 GMT
recorded_with: VCR 6.3.1
