<div data-hong-bao-target="mtPelerinData"
     data-options="<%= {
       ctkn: '954139b2-ef3e-4914-82ea-33192d3f43d3',
       locale: I18n.locale,
       network: Rails.env.production? ? 'bitcoin_mainnet' : 'bitcoin_testnet',
       amount: hong_bao.amount,
       logo: asset_url('hongbao-bitcoin-logo-520.png'),
       address: hong_bao.address,
       requestCode: hong_bao.mt_pelerin_request_code,
       requestHash: hong_bao.mt_pelerin_request_hash
     }.to_json %>">
</div>