<div data-hong-bao-target="step">
  <div class="mb-8 text-white space-y-4">
    <h3 class="text-xl font-bold text-[#FFB636]">Top up your Hong Bao</h3>
    <p class="text-white/90">Choose your preferred way to send bitcoin to this address:</p>

    <%= render "bitcoin_address", address: hong_bao.address %>
  </div>

  <%= render "payment_methods", payment_methods: payment_methods, form: form %>
  <%= render "mt_pelerin_integration", hong_bao: hong_bao %>
</div>