<div class="flex flex-col justify-center items-center">
  <div class="border-dashed border-2 border-sky-500 m-5">
    <div class="m-5">
      <%= render partial: "back_bill", locals: { hong_bao: @hong_bao },formats: [:html]%>
    </div>
  </div>
  <div class="border-dashed border-2 border-sky-500 m-5">
    <div class="m-5">
    <%= render partial: "front_bill", locals: { hong_bao: @hong_bao }, formats: [:html] %>
  </div>
</div>
