<div class="min-h-screen bg-[#FFE5E5] flex flex-col items-center justify-center gap-8 py-4">
<div class="w-full max-w-[480px] bg-[#F04747] p-8
            border-4 border-[#FFB636] outline outline-8 outline-[#F04747]
            shadow-lg relative">
<div class="container mx-auto p-4">
  <h1 class="text-2xl mb-4">Hong Bao Details</h1>
  </div>
<div class="mt-6 space-y-4 animate-fade-in">
  <div class="border w-full">
    <%= render partial: "back_bill", locals: { hong_bao: @hong_bao }%>
  </div>
  <div class="border w-full">
    <%= render partial: "front_bill", locals: { hong_bao: @hong_bao }%>
  </div>
</div>
</div>
</div>