---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/me/media?access_token=<INSTAGRAM_ACCESS_TOKEN>&fields=id,caption,media_type,media_url,permalink,thumbnail_url,timestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6c7437b46df3eaa339b8b5a87bef044ae194e22e"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v22.0
      X-Stack:
      - www
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"17873321001309610","caption":"Getting closer to the
        final version \ud83e\udde7 \n\n- Each Hongbao will have a random quote from
        best Bitcoiners\n- Thick paper quality with gold stamping\n- Perfect size
        for paper wallet in hongbaob.tc\n\nComment and like below to receive 1 free
        pack \ud83d\udc47\n\nWinner will be picked on may 25th\n\n#bitcoin #bitcoinwallet","media_type":"IMAGE","media_url":"https:\/\/scontent-cdg4-2.cdninstagram.com\/v\/t51.75761-15\/486669094_17856481122401591_2865479042804778550_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=101&ccb=1-7&_nc_sid=18de74&_nc_ohc=b8qWRDzeSioQ7kNvgGN_SlG&_nc_oc=Adk2Qoe0ozwmfAzqVgLpBvS_9zT1-zMJGVNLozmEtuZBko5kd2MqJyjEa8015Iy6XgDqY_BDDq5Eq8fDXNpfMQrR&_nc_zt=23&_nc_ht=scontent-cdg4-2.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=f03idhBoGBCjiLleo7n-Fg&oh=00_AYHyGsa4UdHGDuNWkFzBKY7Fi8qrUocH0fBqGXBAX3RaYg&oe=67EC4DF3","permalink":"https:\/\/www.instagram.com\/p\/DHtYBafs9Az\/","timestamp":"2025-03-27T16:10:11+0000"},{"id":"18106047271485693","caption":"He
        saw the private key.\n\nPretty sure I can trust him \ud83d\udc36 #wouafwouaf","media_type":"IMAGE","media_url":"https:\/\/scontent-cdg4-1.cdninstagram.com\/v\/t51.75761-15\/477983929_17850323988401591_3477052607685616348_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=105&ccb=1-7&_nc_sid=18de74&_nc_ohc=sRcLJjmhx6cQ7kNvgFAgLFv&_nc_oc=AdmvrhxLIyW34i2pJ5ezRDc1wkPUtHLZikEkYkrOdNBNj6hSMViK_TrQKom036W_aWk6qaOf7II-DuiZ0gG5tgEy&_nc_zt=23&_nc_[...]
[...]
