---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/me/media?access_token=<INSTAGRAM_ACCESS_TOKEN>&fields=id,caption,media_type,media_url,permalink,thumbnail_url,timestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"fbb5f8fab9ca1c909c3d5badec04a5e231c8a755"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v22.0
      X-Stack:
      - www
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"18082290328642364","caption":"\ud83e\udde7Should we
        launch our figurines? \ud83e\udde7","media_type":"IMAGE","media_url":"https:\/\/scontent-cdg4-3.cdninstagram.com\/v\/t51.75761-15\/489377364_17858032155401591_6541537974450726331_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=111&ccb=1-7&_nc_sid=18de74&_nc_ohc=awQR28FibrAQ7kNvwHD5Zpz&_nc_oc=Adm8A96fY0iDJfG41-3jX2dHjn3hqD5wvK-WLNEc3m9XjYCFRClWNVjDYBVkPopqzD3cu_ORVePMtE7ZOWhDztEt&_nc_zt=23&_nc_ht=scontent-cdg4-3.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=TsHoyIzOWMRHCNb9VIV2rg&oh=00_AfG_h4U4ieFF88Kret0Ebn5GdyJ9uuBhi3mtGGNr2H7A3w&oe=67FBD008","permalink":"https:\/\/www.instagram.com\/p\/DILSMSnsAcD\/","timestamp":"2025-04-08T06:56:27+0000"},{"id":"18070774342882347","caption":"We\u2019ve
        all had that \u201cIf only I bought Bitcoin back then\u2026\u201d moment.\n\nWhat
        if we could give our kids and loved ones that same opportunity now?\n\nInstead
        of handing out cash that loses value over time, why not gift something that
        could grow with them?\n\n\ud83d\udca1 Introducing Hongbao BTC \u2014 a modern
        twist on red envelopes, powered by Bitcoin.\n\nAn investment, a gift,[...]
[...]
- request:
    method: post
    uri: https://aifaceswap.io/api/aifaceswap/v1/faceswap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <FACE_SWAP_API_KEY>
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Authorization failed. The token is invalid or expired."}

        '
  recorded_at: Wed, 09 Apr 2025 04:27:57 GMT
recorded_with: VCR 6.3.1
