---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/me/media?access_token=<INSTAGRAM_ACCESS_TOKEN>&fields=id,caption,media_type,media_url,permalink,thumbnail_url,timestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"111e0922d03e1e244e191d9a4b009eb4cc791531"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v22.0
      X-Stack:
      - www
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"18057196259114433","caption":"The most meaningful gifts
        are the personal ones, where you can truly feel the love behind them.\nReceiving
        a personalized banknote loaded with Bitcoin would be such a special treat.","media_type":"IMAGE","media_url":"https:\/\/scontent-cdg4-2.cdninstagram.com\/v\/t51.75761-15\/488481396_17857417890401591_4546546035907047387_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=109&ccb=1-7&_nc_sid=18de74&_nc_ohc=fNayFNZhuyoQ7kNvwEPa2zl&_nc_oc=AdlRgXo92oayudINsgvGgnF6tX1_8h9P-5OtzYLR1yd2CefCUDw7n8h92iRj1aJXhTlTw7vDy0RMpHjfOlFUlDf7&_nc_zt=23&_nc_ht=scontent-cdg4-2.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=ym7Czgqtcc_62a_SfXJxaA&oh=00_AYG7jQGddhnISzJp0G6egynHeJ6LfPun2Whin6rhejcHag&oe=67F5D8EE","permalink":"https:\/\/www.instagram.com\/p\/DH-7_YOMZRm\/","timestamp":"2025-04-03T11:51:34+0000"},{"id":"18041367149599973","caption":"With
        the OpenAi update we''re updating the bills to print\nAnd you can personalize
        it with your own or loved one photo \n#btc #ghibli","media_type":"IMAGE","media_url":"https:\/\/scontent-cdg4-2.cdninstagram.com\/v\/t51.75761-15\/487559201_17857314933401591_4138651929924356827_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=107&ccb=1-7&_nc_sid=18de74&_nc_ohc=3RiYQIcPr_8Q7kNvwHzaRlj&_nc_oc=AdnuvzFTfitoFlMUSalxDavyWxwnMyZvYte-ecxih[...]
[...]
