---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/me/media?access_token=<INSTAGRAM_ACCESS_TOKEN>&fields=id,caption,media_type,media_url,permalink,thumbnail_url,timestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e6fa0edca9680b1ac97a866d34ff7b29fe40c3c3"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v22.0
      X-Stack:
      - www
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"18079892830613732","caption":"#inflation #hongbaobtc
        #bitcoin #fiatisdead","media_type":"IMAGE","media_url":"https:\/\/scontent-cdg4-1.cdninstagram.com\/v\/t51.75761-15\/491687509_17859693888401591_8557871888115418023_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=SShqVt9-mgMQ7kNvwEJSiS4&_nc_oc=AdmauOxXjzl2KVAbNcYBU4ZPk7JJz3YHy9Rg_R3RsOqoI1SbUlp8R6bCviuAm70_FLk&_nc_zt=23&_nc_ht=scontent-cdg4-1.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=pMQGqRwDN4tdH9IZiil8Tw&oh=00_AfFcSHr1h1Ws5DYBDXSjT2pC3hsuj5BMMfwJ9qL20wIFCQ&oe=680D29FD","permalink":"https:\/\/www.instagram.com\/p\/DIta8bStV-X\/","timestamp":"2025-04-21T13:07:07+0000"},{"id":"18048258617095661","caption":"He
        once gave me wisdom in a whisper.\nToday, I pass it on in a red envelope.\nNot
        paper. Not promise.\nJust something real: sats.\n\n#HongbaoBTC\n#HeritageInYourWallet\n#FromRiceToBtc","media_type":"IMAGE","media_url":"https:\/\/scontent-cdg4-2.cdninstagram.com\/v\/t51.75761-15\/491432355_17859677556401591_847924433941750730_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=100&ccb=1-7&_nc_sid=18de74&_nc_ohc=k5x-597t7AQQ7kNvwHyyiQR[...]
[...]
