---
http_interactions:
- request:
    method: get
    uri: https://mempool.space/testnet/api/blocks/tip/height
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Onion-Location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/testnet/api/blocks/tip/height
    body:
      encoding: UTF-8
      string: '4377330'
  recorded_at: Mon, 19 May 2025 04:18:46 GMT
- request:
    method: get
    uri: https://mempool.space/testnet/api/address/tb1qxzc08ky2zh9mhqvss2u4smwlgrs5a36wdugr4p/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Onion-Location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/testnet/api/address/tb1qxzc08ky2zh9mhqvss2u4smwlgrs5a36wdugr4p/utxo
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 19 May 2025 04:18:46 GMT
- request:
    method: get
    uri: https://mempool.space/testnet/api/address/tb1qxzc08ky2zh9mhqvss2u4smwlgrs5a36wdugr4p/txs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Onion-Location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/testnet/api/address/tb1qxzc08ky2zh9mhqvss2u4smwlgrs5a36wdugr4p/txs
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 19 May 2025 04:18:46 GMT
[...]
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/BTC-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Cache-Control:
      - public, max-age=60
      Grpc-Metadata-Content-Type:
      - application/grpc
      Grpc-Metadata-Vary:
      - Accept-Language
      Trace-Id:
      - '2921505149106388146'
      Last-Modified:
      - Mon, 19 May 2025 04:18:46 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"amount":"103463.77","base":"BTC","currency":"USD"}}'
  recorded_at: Mon, 19 May 2025 04:18:47 GMT
[...]
- request:
    method: get
    uri: https://mempool.space/testnet/api/address/tb1qxzc08ky2zh9mhqvss2u4smwlgrs5a36wdugr4p/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Onion-Location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/testnet/api/address/tb1qxzc08ky2zh9mhqvss2u4smwlgrs5a36wdugr4p/utxo
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 19 May 2025 04:18:47 GMT
recorded_with: VCR 6.3.1
