---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&expand%5B%5D=data.default_price&ids%5B%5D=prod_SO9GmhAFidiukT&ids%5B%5D=prod_SOA4vfEvazoRti&ids%5B%5D=prod_SOA6phfwu0fqTR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2025-06-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-06-30.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_SO9GmhAFidiukT",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1748350230,
              "default_price": {
                "id": "price_1RTMxeIeDQzQhbSLlt6A80i8",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1748350230,
                "currency": "eur",
                "custom_unit_amount": null,
                "livemode": false,
                "lookup_key": null,
                "metadata": {},
                "nickname": "6 envelopes + 12 credits",
                "product": "prod_SO9GmhAFidiukT",
                "recurring": null,
                "tax_behavior": "unspecified",
                "tiers_mode": null,
                "transform_quantity": null,
                "type": "one_time",
                "unit_amount": 1900,
                "unit_amount_decimal": "1900"
              },
              "description": "6 envelopes + 12 credits",
              "images": [
                "https://files.stripe.com/links/MDB8YWNjdF8xTkJIYXRJZURRelFoYlNMfGZsX3Rlc3RfbHZkWW1vaFBZOGZsSk5qRzVocTkwUnNQ00HFJxTKXr"
              ],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "envelopes": "6",
                "slug": "mini",
                "tokens": "12"
              },
              "name": "Mini Pack",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1748497552,
              "url": null
            },
            {
              "id": "prod_SOA4vfEvazoRti",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1748353233,
              "default_price": {
                "id": "price_1RTNk5IeDQzQhbSLX9WPtg2z",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1748353233,
                "currency": "eur",
            [...]
[...]
- request:
    method: post
    uri: https://testnet.demo.btcpayserver.org/api/v1/stores/5J8edsBQADQ17kfw2iLbQ23PX79Lbc1wTWGqwzCBm5rR/invoices
    body:
      encoding: UTF-8
      string: '{"amount":"19.0","currency":"EUR","checkout":{"speedPolicy":"MediumSpeed","defaultPaymentMethod":"BTC","redirectURL":"http://localhost:3003/checkout/success?provider=btcpay\u0026session_id=142a2cf36e9e626ffe08540d954d1db8","redirectAutomatically":true},"metadata":{"redirectRef":"142a2cf36e9e626ffe08540d954d1db8","currency":"EUR","amount":19.0,"color":"red","description":"6
        envelopes + 12 credits","envelopes":6,"tokens":12,"title":"Mini Pack","itemDesc":"Red
        Mini Pack - 6 envelopes + 12 credits","itemCode":"price_1RTMxeIeDQzQhbSLlt6A80i8","physical":"true","userId":"guest","buyerEmail":"test@example.com","buyerName":"Satoshi
        Nakamoto","buyerAddress1":"123 Bitcoin Plaza","buyerAddress2":"","buyerCity":"Crypto
        City","buyerState":"Tokyo","buyerZip":"12345","buyerCountry":"JP"}}'
    headers:
      Authorization:
      - token <BTCPAY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"U5yceUov7PgDDXwgaHfz2i","storeId":"5J8edsBQADQ17kfw2iLbQ23PX79Lbc1wTWGqwzCBm5rR","amount":"19.0","paidAmount":"0","checkoutLink":"https://testnet.demo.btcpayserver.org/i/U5yceUov7PgDDXwgaHfz2i","status":"New","additionalStatus":"None","monitoringExpiration":1753186580,"expirationTime":1753100180,"createdTime":1753099280,"availableStatusesForManualMarking":["Settled","Invalid"],"archived":false,"type":"Standard","currency":"EUR","metadata":{"redirectRef":"142a2cf36e9e626ffe08540d954d1db8","currency":"EUR","amount":19.0,"color":"red","description":"6
        envelopes + 12 credits","envelopes":6,"tokens":12,"title":"Mini Pack","itemDesc":"Red
        Mini Pack - 6 envelopes + 12 credits","itemCode":"price_1RTMxeIeDQzQhbSLlt6A80i8","physical":"true","userId":"guest","buyerEmail":"test@example.com","buyerName":"Satoshi
        Nakamoto","buyerAddress1":"123 Bitcoin Plaza","buyerAddress2":"","buyerCity":"Crypto
        City","buyerState":"Tokyo","buyerZip":"12345","buyerCountry":"JP"},"checkout":{"speedPolicy":"MediumSpeed","paymentMethods":["BTC-LN","BTC-CHAIN","BTC-LNURL"],"defaultPaymentMethod":"BTC-CHAIN","expirationMinutes":15,"monitoringMinutes":1440,"paymentTolerance":0.0,"redirectURL":"http://localhost:3003/checkout/success?provider=btcpay&session_id=142a2cf36e9e626ffe08540d954d1db8","redirectAutomatically":true,"defaultLanguage":null,"lazyPaymentMethods":null},"receipt":{"enabled":true,"showQR":true,"showPayments":true}}'
  recorded_at: Mon, 21 Jul 2025 12:01:21 GMT
recorded_with: VCR 6.3.1
