---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&expand%5B%5D=data.default_price&ids%5B%5D=prod_SO9GmhAFidiukT&ids%5B%5D=prod_SOA4vfEvazoRti&ids%5B%5D=prod_SOA6phfwu0fqTR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2025-06-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-06-30.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_SO9GmhAFidiukT",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1748350230,
              "default_price": {
                "id": "price_1RTMxeIeDQzQhbSLlt6A80i8",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1748350230,
                "currency": "eur",
                "custom_unit_amount": null,
                "livemode": false,
                "lookup_key": null,
                "metadata": {},
                "nickname": "6 envelopes + 12 credits",
                "product": "prod_SO9GmhAFidiukT",
                "recurring": null,
                "tax_behavior": "unspecified",
                "tiers_mode": null,
                "transform_quantity": null,
                "type": "one_time",
                "unit_amount": 1900,
                "unit_amount_decimal": "1900"
              },
              "description": "6 envelopes + 12 credits",
              "images": [
                "https://files.stripe.com/links/MDB8YWNjdF8xTkJIYXRJZURRelFoYlNMfGZsX3Rlc3RfbHZkWW1vaFBZOGZsSk5qRzVocTkwUnNQ00HFJxTKXr"
              ],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "envelopes": "6",
                "slug": "mini",
                "tokens": "12"
              },
              "name": "Mini Pack",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1748497552,
              "url": null
            },
            {
              "id": "prod_SOA4vfEvazoRti",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1748353233,
              "default_price": {
                "id": "price_1RTNk5IeDQzQhbSLX9WPtg2z",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1748353233,
                "currency": "eur",
            [...]
[...]
- request:
    method: post
    uri: https://testnet.demo.btcpayserver.org/api/v1/stores/5J8edsBQADQ17kfw2iLbQ23PX79Lbc1wTWGqwzCBm5rR/payment-requests
    body:
      encoding: UTF-8
      string: '{"amount":"19.0","currency":"EUR","title":"Mini Pack","description":"6
        envelopes + 12 credits","formId":"e0042b63-24e4-4d12-bfac-b91937c252b5","expiryDate":1752599075,"referenceId":"7fabdf1ac2d54256d76c_1"}'
    headers:
      Authorization:
      - token <BTCPAY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"storeId":"5J8edsBQADQ17kfw2iLbQ23PX79Lbc1wTWGqwzCBm5rR","amount":19.0,"currency":"EUR","expiryDate":1752599075,"title":"Mini
        Pack","description":"6 envelopes + 12 credits","email":null,"referenceId":"7fabdf1ac2d54256d76c_1","allowCustomPaymentAmounts":false,"status":"Pending","createdTime":1752595476,"id":"1e4f74d3-86a4-4971-bd21-d524132f729e","archived":false,"formId":"e0042b63-24e4-4d12-bfac-b91937c252b5","formResponse":null}'
  recorded_at: Tue, 15 Jul 2025 16:04:35 GMT
recorded_with: VCR 6.3.1
