---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&limit=730&toTs=1761523200&tsym=usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'true'
      X-Cryptocompare-Server-Id:
      - cc-api-min-v2-33
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"","HasWarning":false,"Type":100,"RateLimit":{},"Data":{"Aggregated":false,"TimeFrom":1698451200,"TimeTo":1761523200,"Data":[{"time":1698451200,"high":34494.4,"low":33876.07,"open":33907.7,"volumefrom":10888.97,"volumeto":371696781.35,"close":34090.05,"conversionType":"direct","conversionSymbol":""},{"time":1698537600,"high":34761.09,"low":33947.8,"open":34090.05,"volumefrom":13639.48,"volumeto":469534963.71,"close":34535.38,"conversionType":"direct","conversionSymbol":""},{"time":1698624000,"high":34862.12,"low":34090.22,"open":34535.38,"volumefrom":23948.89,"volumeto":825552244.82,"close":34494.56,"conversionType":"direct","conversionSymbol":""},{"time":1698710400,"high":34726.05,"low":34058.4,"open":34494.56,"volumefrom":21982.74,"volumeto":756326173.72,"close":34657.73,"conversionTy[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1914971769582047470&lang=en&token=4n427dcz4vj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"cfd-IKTzL0/DPC1gOcnVPLFIjy480XM"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - a5236ebb65bf6038
      X-Response-Time:
      - '35'
      X-Connection-Hash:
      - 29d105afb819506eab9e6608e3aa8f255784699af179c89f1d0d4393fb7a2df6
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJfX3R5cGVuYW1lIjoiVHdlZXQiLCJsYW5nIjoiZW4iLCJmYXZvcml0ZV9jb3VudCI6MSwicG9zc2libHlfc2Vuc2l0aXZlIjpmYWxzZSwiY3JlYXRlZF9hdCI6IjIwMjUtMDQtMjNUMDk6MTc6MDIuMDAwWiIsImRpc3BsYXlfdGV4dF9yYW5nZSI6WzAsNjRdLCJlbnRpdGllcyI6eyJoYXNodGFncyI6W10sInVybHMiOlt7ImRpc3BsYXlfdXJsIjoiaG9uZ2Jhb2IudGMiLCJleHBhbmRlZF91cmwiOiJodHRwczovL2hvbmdiYW9iLnRjIiwiaW5kaWNlcyI6WzM5LDYyXSwi[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1943578237214327268&lang=en&token=4plxipy4i5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"995-AMdEP54dd1WFp/YT1+9bAfzWIVM"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 9e5c86c326e6c347
      X-Response-Time:
      - '41[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1937164001797873711&lang=en&token=4p1s34v3uq6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"9cc-BZiSDXgc4GTmROrDqZdD0J7aGEs"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 4526e723e1e80583
      X-Response-Time:
      - '40[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1953575928413741319&lang=en&token=4qhc8d7ne3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"8b0-1xZ15ZGR5sVWJvpizsRUH+y39/I"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 60abd9a44c551447
      X-Response-Time:
      - '40'[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1936760123453755629&lang=en&token=4pieqqniid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"c53-Bi/l0Mypgb8ITBcZ9zMyq6fvwZk"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 7c226afd74ccf83b
      X-Response-Time:
      - '64'[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1937208973666709866&lang=en&token=4p1x68ksarj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"1263-sWBrlzZ6Lbpnh+R72n12NYYyISc"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 6487c36fbff15291
      X-Response-Time:
      - '4[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1937165010771542480&lang=en&token=4p1s78r4l4k
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"db3-thD6T8pyiKRQTdYbFYapfnEAAY0"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - e75cdce7a270dae5
      X-Response-Time:
      - '52[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1940712311171522783&lang=en&token=4pcxe3a74cv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"674-b3pPnXKBTmtbfhCZ7dueDIWKB8Q"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 10c783b506704190
      X-Response-Time:
      - '76[...]
- request:
    method: get
    uri: https://cdn.syndication.twimg.com/tweet-result?id=1958230451509936551&lang=en&token=4qvyn9r9zc7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"12d-X9/FEivKccFqlqpOOK75yqgOZlM"
      Perf:
      - '7402827104'
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 5bbe946001106770
      X-Response-Time:
      - '24'
      X-Connection-Hash:
      - 33f023c99dae52b08f6d826b7b0a85934e7c3b9b2c5f6dc26a64dfa5cec3b4a1
    body:
      encoding: ASCII-8BIT
      string: '{"__typename":"TweetTombstone","tombstone":{"text":{"text":"This Post
        is from a suspended account. Learn more","entities":[{"from_index":39,"to_index":49,"ref":{"__typename":"TimelineUrl","url":"https://help.twitter.com/rules-and-policies/notices-on-twitter","url_type":"ExternalUrl"}}],"rtl":false}}}'
  recorded_at: Mon, 27 Oct 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
