---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&expand%5B%5D=data.default_price&ids%5B%5D=prod_SO9GmhAFidiukT&ids%5B%5D=prod_SOA4vfEvazoRti&ids%5B%5D=prod_SOA6phfwu0fqTR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2025-05-28.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-05-28.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_SO9GmhAFidiukT",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1748350230,
              "default_price": {
                "id": "price_1RTMxeIeDQzQhbSLlt6A80i8",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1748350230,
                "currency": "eur",
                "custom_unit_amount": null,
                "livemode": false,
                "lookup_key": null,
                "metadata": {},
                "nickname": "6 envelopes + 12 credits",
                "product": "prod_SO9GmhAFidiukT",
                "recurring": null,
                "tax_behavior": "unspecified",
                "tiers_mode": null,
                "transform_quantity": null,
                "type": "one_time",
                "unit_amount": 1900,
                "unit_amount_decimal": "1900"
              },
              "description": "6 envelopes + 12 credits",
              "images": [
                "https://files.stripe.com/links/MDB8YWNjdF8xTkJIYXRJZURRelFoYlNMfGZsX3Rlc3RfbHZkWW1vaFBZOGZsSk5qRzVocTkwUnNQ00HFJxTKXr"
              ],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "envelopes": "6",
                "slug": "mini",
                "tokens": "12"
              },
              "name": "Mini Pack",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1748497552,
              "url": null
            },
            {
              "id": "prod_SOA4vfEvazoRti",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1748353233,
              "default_price": {
                "id": "price_1RTNk5IeDQzQhbSLX9WPtg2z",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1748353233,
                "currency": "eur",
            [...]
