<div class="flex items-center gap-1.5 tooltip tooltip-bottom" data-tip="BTC Price (24h change)">
  <div class="w-5 h-5 md:w-6 md:h-6 p-0.5 rounded-full bg-error border-2 border-error/50 shadow-inner animate-pulse flex items-center justify-center">
    <%= heroicon :'arrow-trending-up', class: 'text-white' %>
  </div>
  <span class="text-xs md:text-sm font-mono font-bold text-base-content">
    <%= formatted_price %><span class="hidden sm:inline text-base-content/60 text-xs"><%= formatted_change %></span>
  </span>
</div>
