<div class="flex flex-col h-full max-h-full overflow-hidden"
     data-controller="pdf binding"
     data-pdf-filename-value=""
     data-binding-attribute-value="pdfFilenameValue"
     data-binding-name-value="publicAddressText"
     data-action="bitcoin:changed@window->binding#attribute"
     data-steps-target="content"
     data-steps-index="<%= local_assigns[:index] || 2 %>">

  <fieldset class="fieldset">
    <legend class="fieldset-legend text-[#FFB636]">Beneficiary</legend>
    <div class="flex gap-2 text-white">
      <label for="mode">
        <span class="">Beginner</span>
      </label>
      <input type="checkbox" id="mode" class="toggle" data-action="bitcoin#modeChanged" />
      <label for="mode">
        <span class="">Maximalist</span>
      </label>
    </div>
    <p class="label">Beginner : QRCode goes to hongbaob.tc for easy access</p>
  </fieldset>

  <div class="sticky bottom-0 rounded-b-3xl z-30 bg-[#F04747] border-t border-[#FFB636]/20">
    <div class="flex flex-col items-center gap-4 w-full">
      <!-- Download PDF Button -->
      <button type="button"
              class="cursor-pointer w-full py-3 px-4 bg-[#FFB636] rounded-xl shadow-lg text-sm font-medium
                      text-black hover:bg-[#FFB636]/90 transition-colors duration-300 flex items-center justify-center gap-2"
              data-paper-pdf-target="downloadButton"
              data-action="pdf#download">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>
        Download PDF
      </button>

      <div class="flex items-center space-x-4 w-full">
        <%= render "hong_baos/new/previous_button" if local_assigns[:index] != 1 %>
        <%= render "hong_baos/new/next_button",
          html_options: {
            disabled: true,
            data_action: "pdf:downloaded@window->disabled#remove"
          } %>
      </div>
    </div>
  </div>
</div>