<div class="flex flex-col h-full max-h-full overflow-y-auto pb-16" data-steps-target="content" data-steps-index="1">
  <!-- Scrollable Content Area -->
  <div class="flex-1">
    <div class="p-8">
      <div class="flex flex-col">
        <div class="mb-8">
        </div>

        <div data-controller="tabs"
             data-tabs-active-class="bg-[#FFB636] text-[#F04747]"
             data-tabs-default-tab-value="templates">

          <% if current_user %>
            <div class="flex gap-2 mb-6">
              <button type="button"
                      data-tabs-target="btn"
                      data-tab-id="templates"
                      data-action="tabs#select"
                      class="flex-1 py-2 px-4 rounded-lg bg-white/10 text-white hover:bg-white/20 transition-colors">
                Templates
              </button>
              <button type="button"
                      data-tabs-target="btn"
                      data-tab-id="ai-design"
                      data-action="tabs#select"
                      class="flex-1 py-2 px-4 rounded-lg bg-white/10 text-white hover:bg-white/20 transition-colors">
                AI Design
              </button>
            </div>
          <% end %>

          <div data-tabs-target="tab"
               data-tab-id="templates"
               class="relative">
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-4 mx-auto">
              <%= render Papers::ItemComponent.with_collection(papers) %>
            </div>
          </div>

          <%= render "hong_baos/new/steps/design/ai_design", papers_by_user: papers_by_user %>
        </div>
      </div>
    </div>
  </div>

  <!-- Fixed Footer instead of Sticky -->
  <div class="fixed bottom-0 left-0 right-0 mt-auto flex-none bg-[#F04747] border-t border-[#FFB636]/20 p-4 rounded-b-3xl">
    <%= render "hong_baos/new/next_button",
               html_options: {
                 disabled: @hong_bao.paper_id.blank?,
                 data_action: "hong-bao:select@window->disabled#remove bitcoin#dispatchWalletChanged"
               } %>
  </div>
</div>

