<div data-steps-target="content" data-steps-index="3" class="flex items-center space-x-4">
  <%= render "hong_baos/new/previous_button" %>
  <div class="flex-1">
    <!-- Top-up specific buttons -->
    <%= button_tag "Complete", type: "submit", class: "..." %>
  </div>
</div>