<div class="min-h-screen">
  <%= render "shared/header" %>
  <section class="max-w-7xl mx-auto flex flex-col items-center gap-8 p-8 justify-center">

    <%= render V3::PricingComponent.new(title: false) do |component| %>
      <% products = Shopify::Product.all %>
      <% products.each do |product| %>
        <% component.with_plan(product: product) %>
      <% end %>
    <% end %>

  </section>
</div>

