secret_key_base: some-secret-key-base-generated-by-rails

# We dont use webhooks for now so might be removed
mt_pelerin:
  signature_key: webhook-signature-key-ask-mt-pelerin
  authentication_key: webhook-authentication-key-ask-mt-pelerin
  token: some-token-for-widget
  rfr: NFREq4bf #our referal key

active_admin:
  name: some-login
  password: some-password