secret_key_base: some-secret-key-base-generated-by-rails

# We dont use webhooks for now so might be removed
mt_pelerin:
  signature_key: webhook-signature-key-ask-mt-pelerin
  authentication_key: webhook-authentication-key-ask-mt-pelerin
  token: some-token-for-widget
  rfr: NFREq4bf #our referal key

active_admin:
  name: some-login
  password: some-password

leonardo:
  api_key: get-from-https://docs.leonardo.ai/docs/create-your-api-key
  webhook_token: some-token

instagram:
  token: get-from-https://developers.facebook.com/docs/instagram-platform/

faceswap:
  api_key: get-from-https://aifaceswap.io/api/aifaceswap/v1


