<%# Pokedex-style password reset screen %>
<div class="flex flex-col items-center justify-center h-full py-8">
  <div class="w-full max-w-sm">
    <%= render PasswordComponent.new(action: :new) %>
  </div>
</div>
