<div class="portfolio-chart">
  <%= render Charts::Tooltips::SavedHongBaoComponent.new %>
  <div
    data-controller="highcharts"
    data-highcharts-config-value="<%= chart_config.to_json %>"
    >
  </div>
</div>