<%# Suppress dock bar on this page %>
<% content_for(:footer) do %>
  <!-- No dock bar on paper editing -->
<% end %>

<%# Header in screen_header slot %>
<% content_for(:screen_header) do %>
  <div class="flex items-center justify-between">
    <%# Back button %>
    <%= link_to dashboard_path, class: "p-1 text-base-content hover:text-base-content/70 transition-colors" do %>
      <%= heroicon "arrow-left", class: "w-5 h-5" %>
    <% end %>

    <%# Title %>
    <span class="font-semibold text-base-content text-sm">Select Theme</span>

    <%# Print button - goes to paper show page %>
    <%= link_to paper_path(@paper), class: "font-semibold text-primary text-sm", data: { turbo: false } do %>
      Print
    <% end %>
  </div>
<% end %>

<div class="flex flex-col flex-1 overflow-hidden">
  <%= render Papers::EditComponent.new(paper: @paper) %>
</div>
