<%= turbo_stream.append "papers" do %>
  <%= render Papers::ItemComponent.with_collection(@papers, broadcast: false) %>
<% end %>

<%= turbo_stream.replace "papers_page_#{@pagy.page}" do %>
  <% if @pagy.next %>
    <%= turbo_frame_tag "papers_page_#{@pagy.next}", 
        src: explore_papers_path(page: @pagy.next, format: :turbo_stream), 
        loading: :lazy do %>
      <div class="col-span-full flex justify-center items-center py-8">
        <div class="flex flex-col items-center gap-2">
          <span class="loading loading-spinner loading-lg text-primary"></span>
          <span class="text-base-content/60">Loading more papers...</span>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>