<section class="container flex flex-col md:flex-row">
  <div class="flex-1">
    <h1 class="text-4xl font-bold" >The easiest way to gift Bitcoin</h1>
  </div>
  <div class="flex-1">
    <%= image_tag "index/red_front.jpg", class: "w-full h-full object-cover" %>
  </div>
</section>