---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&limit=2000&toTs=1377993600&tsym=usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'true'
      X-Cryptocompare-Server-Id:
      - cc-api-min-v2-14
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"","HasWarning":false,"Type":100,"RateLimit":{},"Data":{"Aggregated":false,"TimeFrom":1205193600,"TimeTo":1377993600,"Data":[{"time":1205193600,"high":0,"low":0,"open":0,"volumefrom":0,"volumeto":0,"close":0,"conversionType":"direct","conversionSymbol":""},{"time":1205280000,"high":0,"low":0,"open":0,"volumefrom":0,"volumeto":0,"close":0,"conversionType":"direct","conversionSymbol":""},{"time":1205366400,"high":0,"low":0,"open":0,"volumefrom":0,"volumeto":0,"close":0,"conversionType":"direct","conversionSymbol":""},{"time":1205452800,"high":0,"low":0,"open":0,"volumefrom":0,"volumeto":0,"close":0,"conversionType":"direct","conversionSymbol":""},{"time":1205539200,"high":0,"low":0,"open":0,"volumefrom":0,"volumeto":0,"close":0,"conversionType":[...]
