---
http_interactions:
- request:
    method: post
    uri: https://<SHOPIFY_DOMAIN>/admin/api/2025-07/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query($first: Int!) {\n  products(first: $first) {\n    edges
        {\n      node {\n        id\n        handle\n        title\n        description\n        tags\n        productType\n        createdAt\n        updatedAt\n        images(first:
        10) {\n          edges {\n            node {\n              url\n              altText\n            }\n          }\n        }\n        variants(first:
        20) {\n          edges {\n            node {\n              id\n              title\n              price\n              sku\n              availableForSale\n              inventoryQuantity\n              selectedOptions
        {\n                name\n                value\n              }\n            }\n          }\n        }\n        metafields(first:
        10) {\n          edges {\n            node {\n              namespace\n              key\n              value\n              type\n            }\n          }\n        }\n      }\n    }\n    pageInfo
        {\n      hasNextPage\n      endCursor\n    }\n  }\n}\n","variables":{"first":2}}'
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '327'
      X-Sorting-Hat-Shopid:
      - '92399468872'
      X-Shopid:
      - '92399468872'
      X-Shardid:
      - '327'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '283790573569'
      X-Stats-Apipermissionid:
      - '820564132168'
      X-Shopify-Api-Version:
      - 2025-07
      Content-Language:
      - en
      X-Shopify-Api-Deprecated-Reason:
      - Product.images
      X-Dc:
      - gcp-europe-west1,gcp-europe-west1,gcp-europe-west1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"products":{"edges":[{"node":{"id":"gid://shopify/Product/9692957376840","handle":"gift-card","title":"Gift
        Card","description":"This is a gift card for the store","tags":[],"productType":"giftcard","createdAt":"2025-09-25T14:04:36Z","updatedAt":"2025-09-26T02:20:38Z","images":{"edges":[{"node":{"url":"https://cdn.shopify.com/s/files/1/0923/9946/8872/files/gift_card.png?v=1758809079","altText":"Gift
        card that shows text: Generated data gift card"}}]},"variants":{"edges":[{"node":{"id":"gid://shopify/ProductVariant/51482574029128","title":"$10","price":"10.00","sku":null,"availableForSale":true,"inventoryQuantity":0,"selectedOptions":[{"name":"Denominations","value":"$10"}]}},{"node":{"id":"gid://shopify/ProductVariant/51482574061896","title":"$25","price":"25.00","sku":null,"availableForSale":true,"inventoryQuantity":0,"selectedOptions":[{"name":"Denominations","value":"$25"}]}},{"node":{"id":"gid://shopify/ProductVariant/51482574094664","title":"$50","price":"50.00","sku":null,"availableForSale":true,"inventoryQuantity":0,"selectedOptions":[{"name":"Denominations","value":"$50"}]}},{"node":{"id":"gid://shopify/ProductVariant/51482574127432","title":"$100","price":"100.00","sku":null,"availableForSale":true,"inventoryQuantity":0,"selectedOptions":[{"name":"Denominations","value":"$100"}]}}]},"metafields":{"edges":[]}}},{"node":{"id":"gid://shopify/Product/9692957409608","handle":"the-out-of-stock-snowboard","title":"The
        Out of Stock Snowboard","description":"","tags":["Accessory","Sport","Winter"],"productType":"snowboard","createdAt":"2025-09-25T14:04:36Z","updatedAt":"2025-09-26T02:04:43Z","images":{"edges":[{"node":{"url":"https://cdn.shopify.com/s/files/1/0923/9946/8872/files/Main_f44a9605-cd62-464d-b095-d45cdaa0d0d7.jpg?v=1758809078","altText":"Top
        and bottom view of a snowboard. The top view shows a toggle at the top in
        shades of blue and\n        yellow. The bottom view shows an abstract illustration
        of toggles in blues and yellows."}}]},"variants":{"edges":[{"node":{"id":"gid://shopify/ProductVariant/51482574192968","title":"Default
        Title","price":"885.95","sku":null,"availableForSale":false,"inventoryQuantity":0,"selectedOptions":[{"name":"Title","value":"Default
        Title"}]}}]},"metafields":{"edges":[]}}}],"pageInfo":{"hasNextPage":true,"endCursor":"eyJsYXN0X2lkIjo5NjkyOTU3NDA5NjA4LCJsYXN0X3ZhbHVlIjoiOTY5Mjk1NzQwOTYwOCJ9"}}},"extensions":{"cost":{"requestedQueryCost":27,"actualQueryCost":13,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1987,"restoreRate":100.0}}}}'
  recorded_at: Fri, 26 Sep 2025 04:05:05 GMT
recorded_with: VCR 6.3.1
