---
http_interactions:
- request:
    method: post
    uri: https://<SHOPIFY_DOMAIN>/admin/api/2025-07/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"fragment ProductFields on Product {\n  id\n  handle\n  title\n  description\n  tags\n  productType\n  createdAt\n  updatedAt\n  images(first:
        10) {\n    edges {\n      node {\n        url\n        altText\n      }\n    }\n  }\n  metafields(first:
        10) {\n    edges {\n      node {\n        namespace\n        key\n        value\n        type\n      }\n    }\n  }\n}\n\nfragment
        VariantFields on ProductVariant {\n  id\n  title\n  price\n  sku\n  availableForSale\n  inventoryQuantity\n  selectedOptions
        {\n    name\n    value\n  }\n}\n\n\nquery($id: ID!) {\n  product(id: $id)
        {\n    ...ProductFields\n    variants(first: 20) {\n      edges {\n        node
        {\n          ...VariantFields\n        }\n      }\n    }\n  }\n}\n","variables":{"id":"gid://shopify/Product/123456789"}}'
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '327'
      X-Sorting-Hat-Shopid:
      - '92399468872'
      X-Shopid:
      - '92399468872'
      X-Shardid:
      - '327'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '283790573569'
      X-Stats-Apipermissionid:
      - '820564132168'
      X-Shopify-Api-Version:
      - 2025-07
      Content-Language:
      - en
      X-Shopify-Api-Deprecated-Reason:
      - Product.images
      X-Dc:
      - gcp-europe-west1,gcp-europe-west1,gcp-europe-west1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"product":null},"extensions":{"cost":{"requestedQueryCost":25,"actualQueryCost":1,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1999,"restoreRate":100.0}}}}'
  recorded_at: Fri, 26 Sep 2025 09:09:12 GMT
recorded_with: VCR 6.3.1
