---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/me/media?access_token=<INSTAGRAM_ACCESS_TOKEN>&fields=id,caption,media_type,media_url,permalink,thumbnail_url,timestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8487d968b9fea56f4ac2109510aa2cc721cabd33"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v22.0
      X-Stack:
      - www
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"18057196259114433","caption":"The most meaningful gifts
        are the personal ones, where you can truly feel the love behind them.\nReceiving
        a personalized banknote loaded with Bitcoin would be such a special treat.","media_type":"IMAGE","media_url":"https:\/\/scontent.cdninstagram.com\/v\/t51.75761-15\/488481396_17857417890401591_4546546035907047387_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=109&ccb=1-7&_nc_sid=18de74&_nc_ohc=fNayFNZhuyoQ7kNvwGiXPfT&_nc_oc=Adndm4iFffEjQrJQaHe8Go7sS8f5QmHqlsjoi03f_aU8QdQ93Dc2Ch_CtTG4RsLAqok&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=OEOUeHpbmltBjGM1bFe0yA&oh=00_AYG_g2nrY2PU217BJG83RdjZyQxQeq4LHXkR0hc-GK17ng&oe=67F762AE","permalink":"https:\/\/www.instagram.com\/p\/DH-7_YOMZRm\/","timestamp":"2025-04-03T11:51:34+0000"},{"id":"18041367149599973","caption":"With
        the OpenAi update we''re updating the bills to print\nAnd you can personalize
        it with your own or loved one photo \n#btc #ghibli","media_type":"IMAGE","media_url":"https:\/\/scontent.cdninstagram.com\/v\/t51.75761-15\/487559201_17857314933401591_4138651929924356827_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=107&ccb=1-7&_nc_sid=18de74&_nc_ohc=3RiYQIcPr_8Q7kNvwE14Qo_&_nc_oc=AdlLica-YVgMcP3nZRfmoXHfCwKTk_oo2Rw47YKnVOphhP3i[...]
