---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/me/media?access_token=<INSTAGRAM_ACCESS_TOKEN>&fields=id,caption,media_type,media_url,permalink,thumbnail_url,timestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e0db10160bad6efe1c7afb561dbc9a1b4f321e2f"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v22.0
      X-Stack:
      - www
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"18106047271485693","caption":"He saw the private key.\n\nPretty
        sure I can trust him \ud83d\udc36 #wouafwouaf","media_type":"IMAGE","media_url":"https:\/\/scontent.cdninstagram.com\/v\/t51.75761-15\/477983929_17850323988401591_3477052607685616348_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=105&ccb=1-7&_nc_sid=18de74&_nc_ohc=sRcLJjmhx6cQ7kNvgHouCz3&_nc_oc=AdnWTIWqOGoeqqCmBZIFbG2mTILoQBBD33sgY3NqpstL1fqd3EbX_90wTb6wzfLRIpM&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&edm=ANo9K5cEAAAA&_nc_gid=45Wd3atzbwqN2bO9rG9lcw&oh=00_AYEIKk0DEkELzrUpYy56kQNqdpmhJ3uCRYD1LxpbGyyd6Q&oe=67EAE626","permalink":"https:\/\/www.instagram.com\/p\/DGDijzws8SK\/","timestamp":"2025-02-14T13:42:46+0000"},{"id":"18070612687809013","caption":"\u201cIt
        might make sense just to get some in case it catches on. If enough people
        think the same way, that becomes a self fulfilling prophecy.\u201d \n\n- Satoshi
        Nakamoto","media_type":"IMAGE","media_url":"https:\/\/scontent.cdninstagram.com\/v\/t51.75761-15\/479077494_17849977851401591_5503599000058571232_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=106&ccb=1-7&_nc_sid=18de74&_nc_ohc=3i9lnh4636MQ7kNvgE6qijX&_nc_oc=A[...]
