---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&limit=10&toTs=1377993600&tsym=usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'true'
      X-Cryptocompare-Server-Id:
      - cc-api-min-v2-36
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Message":"","HasWarning":false,"Type":100,"RateLimit":{},"Data":{"Aggregated":false,"TimeFrom":1377129600,"TimeTo":1377993600,"Data":[{"time":1377129600,"high":124.49,"low":120.54,"open":123.3,"volumefrom":12815.39,"volumeto":1563933.74,"close":122,"conversionType":"direct","conversionSymbol":""},{"time":1377216000,"high":122,"low":118.44,"open":122,"volumefrom":18231.25,"volumeto":2180668.6,"close":118.51,"conversionType":"direct","conversionSymbol":""},{"time":1377302400,"high":121.39,"low":118.02,"open":118.51,"volumefrom":8370.82,"volumeto":1001638.16,"close":119.6,"conversionType":"direct","conversionSymbol":""},{"time":1377388800,"high":122.99,"low":119.14,"open":119.6,"volumefrom":7101.52,"volumeto":864221.29,"close":122.11,"conversionType":"direct","conversionSymbol":""},{"ti[...]
