---
http_interactions:
- request:
    method: post
    uri: https://cloud.leonardo.ai/api/rest/v1/generations
    body:
      encoding: UTF-8
      string: '{"prompt":"A birthday bitcoin themed bill add text public address and
        private key","modelId":"2067ae52-33fd-4a82-bb92-c2c55e7d2786","width":512,"height":512,"presetStyle":"ILLUSTRATION","num_images":1,"promptMagic":false,"enhancePrompt":false,"userElements":[]}'
    headers:
      Authorization:
      - Bearer <LEONARDO_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"sdGenerationJob":{"generationId":"c4d1882e-174c-43e4-8a64-faca95001c5a","apiCreditCost":9}}'
  recorded_at: Fri, 14 Mar 2025 21:36:26 GMT
recorded_with: VCR 6.3.1
